img {
    width: 50px;
    align-items: center;
    align-self: center;
}

.img-top {
    padding: 1em;
}

.img-options{
    width: 30px;
    padding: 2px;
}

span p * {
    font-family: 'Roboto' !important;
}