/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-tab-label-active {
    color: black;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

html * {
    font-family: 'Roboto' !important;
}

.mat-ink-bar {
    background-color: #07485e !important;
}

.dropdown-item {
    cursor: pointer !important;
}