.delete {
    float: left;
    margin-right: 4px;
}

.delete img {
    width: 15px;
}

.edit {
    float: left;
    margin-right: 4px;
}

.edit img {
    width: 15px;
}

.list {
    margin-right: 5px;
}

.list img {
    width: 18px;
}